
<div class="panel panel-primary">
	<div class="panel-heading">All Projects</div>
	<div class="panel-body">		 
		
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Descripcion</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr  ng-repeat="dato in misdatos">
					<td>{{dato.id}}</td>
					<td>{{dato.name}}</td>
					<td><a ui-sref=".project({idProject: dato.id})" href=""><i class="fa fa-user" ></i></a></td>
				</tr>
			</tbody>
		</table>
		
	</div>
	<div id="container-footer" class="panel-footer">
		<!-- footer contet-->
		<div class="actualdata">...</div>
	</div>
</div>

<button ng-click="callData()"  >OK</button>
{{query1}}